body, html {
    font-family: 'Roboto', sans-serif;
}
#header {
    background-color: #ffffff;
    box-shadow: 1px 3px rgba(167, 167, 167, 0.082)
}
#header .collapse {
    margin-left: 40px;
}
#header .nav-link {
    font-weight: 500;
    padding: 10px;
}
#header .nav-link:hover {
    color: var(--primary); 
}
.logo {
    color: var(--primary);
    margin-left: -4px;
}
.logo-a {
    font-size: 28px;
    font-weight: 900;
}

h2 {
    margin-top: 16px;
    font-size: 32px;
    color: var(--primary);
    font-weight: 900;
}
p {
    margin-top: 16px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
section {
    margin-top: 100px;
}
#servicos {
    margin-top: 100px;
}
#servicos h3 {
    font-size: 20px;
}
#servicos p {
    font-size: 16px;
}
#servicos a.img-link {
    display: block;
    background-color: #e7e7e7;
    border-radius: 6px;
    text-align: center;
    padding: 16px;
}
#servicos a.img-link:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.123);
    transform: scale(1.03);
}
#servicos a.img-link .img-container {
    height: 330px;
}
#servicos a.img-link .img-container img {
    max-height: 160px;
}
hr {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.img-fix {
    margin-bottom: 30px;
    height: 400px;
    width: 600px;
}
#contact {
    margin-top: 100px;
}
footer {
    background-color: var(--secondary);
}
footer p {
    color: #fff;
    font-size: 16px;
}
footer .container a {
    color: #ffffff;
}
footer ul {
    list-style: none;
}
footer ul li:hover {
    text-decoration: underline;
}
footer ul li a i {
    font-size: 2rem;
    color: rgb(209, 209, 209);
}
footer ul li a i:hover {
    color: #fff;
}
.link-vi:hover {
    color: rgb(252, 128, 252);
}


